// COLORS
$primary-color: #a30000;
$secondary-color: #f50000;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #f5f5f5;

$dark-grey: #817f82;

$dark-blue-text: #0a0a0a; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
